/*@mixin dishes_title {
	text-transform: uppercase;
	border-bottom: 20% solid $colour-tertiary;
	padding: 0 0 4;
	width: 50%;
}*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.header__logo {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

h2 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

h3 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

p, dd {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

a, a:visited, a:focus {
  text-decoration: none;
}

li, dt, dd {
  list-style: none;
}

button, .footer__link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.8em;
}

/* index home page */
#steps p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.8em;
}

textarea {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

/* menu pages */
.menu__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
}

dt {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

.menu__price {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.8em;
}

.btn {
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin: 30px 0;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  color: white;
  box-shadow: 0 3px 10px #c0c0c0;
}

.header__logo {
  text-align: center;
  padding: 10px 0;
}

.header {
  margin-top: 0;
}
.header__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.header__heading {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: -60px;
  padding: 20px 30px 0 15px;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
}

.nav {
  display: inline-flex;
  width: 100%;
  padding: 20px 30px 10px 15px;
}
.nav__logo {
  display: flex;
  width: 40%;
  height: auto;
  margin: auto;
}

.search {
  background-color: #f2f2f2;
  margin-bottom: 15px;
}
.search__form {
  text-align: center;
}
.search__heading {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 15px 0;
}
.search__location {
  width: 100%;
  padding: 10px 0;
  background-color: #e4e4e4;
  border-top: solid medium #c8c8c8;
  align-items: center;
}
.search i {
  padding-right: 10px;
}
.search__field {
  padding: 10px 0;
  background-color: #e4e4e4;
  border: none;
  text-align: center;
}
.search__byline {
  width: 70%;
  margin: auto;
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 0 0 10px #c0c0c0;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin: 0;
  border-radius: 15px 15px 0 0;
}
.card:hover {
  cursor: pointer;
}

.steps__card {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 0 3px 5px lightgrey;
  margin-left: 10px;
  margin-bottom: 10px;
}
.steps__card:hover {
  cursor: pointer;
}

.menu__dish {
  padding: 15px;
}

/* ne fonctionne pas : se compile sans le "." devant "footer"
footer {
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 20px;

    &__heading {
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: 100;
        padding-bottom: 15px;
    }

    &__infos {
        display: inline-flex;
        align-items: center;
    }

    &__icon {
        font-size: smaller;
    }

    &__link {
        font-weight: 500;
        line-height: 2em;
        padding-left: 10px;
    }

    & a, &:visited  {
        color: white;
    }
}*/
/* fonctionne */
.mention, .contact {
  color: lightgrey;
  font-weight: 100;
  line-height: 1.5em;
}

footer {
  background-color: #464646;
  color: white;
  padding: 20px;
}

.footer__heading {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 100;
  padding-bottom: 15px;
}

/*.footer__infos {
    display: inline-flex;
    align-items: center;
}*/
.footer__icon {
  font-size: smaller;
  width: 10px;
}

.footer__link {
  font-weight: 500;
  line-height: 2em;
  padding-left: 15px;
}

.footer a, .footer a:visited {
  color: white;
}

.mention, .contact {
  color: lightgrey;
  font-weight: 100;
  line-height: 1.5em;
}

main {
  background-color: #f2f2f2;
}

.steps {
  background-color: white;
  padding: 20px;
}
.steps__heading {
  padding-bottom: 15px;
}
.steps li {
  display: inline-flex;
  align-items: center;
  width: 95%;
  padding: 15px 0;
}
.steps__info {
  font-weight: 700;
}
.steps i {
  padding: 0 30px;
  color: gray;
  width: 10px;
  height: auto;
}
.steps__number {
  background-color: #9356dc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.restaurants {
  padding: 20px 20px 40px;
}
.restaurants article {
  position: relative;
  padding-bottom: 10px;
}
.restaurants__tag {
  width: 20%;
  background-color: #99e2d0;
  border-radius: 3px;
  color: green;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.restaurants__name, .restaurants__location {
  padding-left: 15px;
  padding-top: 5px;
}
.restaurants__like {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.menu {
  background-color: #f2f2f2;
}
.menu__choice {
  padding: 0 20px 20px;
}
.menu h2 {
  padding-top: 30px;
}
.menu dd {
  display: inline-flex;
}
.menu__order {
  display: flex;
  justify-content: center;
}
.menu__order button {
  width: 45%;
}

/*# sourceMappingURL=styles.css.map */
