.card {
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0 0 10px $color-shadow;

    & img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        margin: 0;
        border-radius: 15px 15px 0 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.steps__card {
    background-color: $color-background;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0 0 5px $color-shadow;
    margin-left: 10px;
    margin-bottom: 10px;

    &:hover {
        cursor: pointer;
    }
}

.menu__dish {
    padding: 15px;
}
