.footer {
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 20px;

    &__heading {
        padding-bottom: 15px;
    }

    &__infos {
        align-items: center;
    }

    &__icon {
        font-size: smaller;
        width: 15px;
    }

    &__link {
        padding-left: 10px;
    }
}