.nav {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 10px 30px 10px 15px;

    &__logo {
        display: flex;
        width: 40%;
        height: 30px;
        margin: auto;
    }
}