body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.header__logo,
h1,
.footer__heading {
    font-family: Shrikhand, cursive;
    font-size: 1.3em;
    font-weight: 100;
}

.header__heading--name {
    font-size: 1.5em;
}

dt {
    font-size: 1.2em;
}

#steps p,
dt,
.menu__price {
    font-weight: 700;
}

p,
dd {
    font-weight: 300;
}

.menu__heading {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300
}

.footer {
    line-height: 2em;

    &__mention,
    &__contact {
        color: lightgray;
        font-weight: 300;
    }

    & a,
    & a:visited {
        color: white;
    }
}