
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.header__logo, h1, .footer__heading {
    font-family: Shrikhand, cursive;
    font-size: 1.2em;
    font-weight: 100;
}

.header__heading--name {
    font-size: 1.5em;
}

h2, dt {
    font-size: 1em;
}

#steps p, dt, .menu__price, .footer__link {
    font-weight: 700;
}

textarea, button, .footer__link, .footer__mention, .footer__contact {
    font-weight: 500;
    line-height: 2em;
}

p, dd, .menu__heading, .footer__mention, .footer_contact {
    font-weight: 300;
}

.menu__heading {
    text-transform: uppercase;
}

.footer {
    &__mention, &__contact {
        color: lightgray;
    }

    & a, & a:visited  {
        color: white;
    }
}

a, a:visited {
    text-decoration: none;
}

li, dt, dd {
    list-style: none;
}