
.header_logo {
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

h1 {
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

h2 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.menu_heading {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
    /*border-bottom: @include $accent;*/
}

h3 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.menu_price {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.8em;
}

p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

#steps p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.8em;
}

textarea {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.8em;
}

a, a:visited, a:focus {
    text-decoration: none;
}

li, dt, dd {
    list-style: none;
}