.menu {
    background-color: $color-background;

    &__choice {
        padding: 0 20px 20px;
    }

    &__heading {
        padding-top: 30px;
        padding-bottom: 5px;
    }

    & hr {
        width: 40px;
        height: 2px;
        border: none;
        background-color: $color-accent;
    }

    & dd {
        display: inline-flex;
    }

    &__order {
        display: flex;
        justify-content: center;

        & button {
            width: 45%;
        }
    }
}