.menu {
    background-color: $color-background;

    &__choice {
        padding: 0 20px 20px;
    }

    &__heading {
        padding-top: 30px;
        padding-bottom: 5px;
    }

    & hr {
        width: 25px;
        height: 2px;
        border: none;
        background-color: $color-accent;
    }

    & dl {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__dish {
        width: 100%;
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__check {
        visibility: hidden;
        position: absolute;
        right: 20px;
        padding: 24px;
        border-radius: 0 15px 15px 0;
        background-color: $color-accent;
        color: white;

        &__check:hover {
            visibility: visible;
        }
    }

    &__order {
        display: flex;
        justify-content: center;

        & button {
            width: 45%;
        }
    }
}