@mixin card {
	background-color: white
	border-radius: 25px;
	box-shadow: 0 5px 2em $colour-shadow;
		&:hover {
			box-shadow: $color-hover
	}
}

@mixin dishes_title {
	text-transform: uppercase;
	border-bottom: 20% solid $colour-tertiary;
	padding: 0 0 4;
	width: 50%;
}

@mixin btn {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 50%;
    background-color: 240deg $colour-secondary $coloour-primary;
}